{%extends "base.html"%}

{%block title%}
    {{card.title}}
{%endblock%}

{%block body%}
    <div class="container" style="border: 1px dashed red; background: #e3e3e3;">
        <h1>{{card.title}}</h1>

        <div class="card" style="width: 100%; margin:0 0 20px;">
          <div class="card-img" align="center">
              <img class="card-img-top" src="{{ url_for('static', filename='image/' + card.img_path) }}" style="width: 600px;" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{card.title}}</h5>
            <p class="card-text">{{card.description}}</p>
            <p class="card-text"><strong>Цена:</strong> {{card.price}} ₽</p>
            <p class="card-text"><strong>Описание:</strong> {{card.full_description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Дата публикации: {{card.time.date()}}</small><br>
            <small class="text-muted">Время публикации: {{card.time.time().isoformat(timespec='minutes')}}</small><br>
            <div class="buttons" align="right">
                <a href="/cards/{{card.id}}/del" class="btn btn-danger">Удалить</a>
                <a href="/cards/{{card.id}}/update" class="btn btn-warning">Редактировать</a>
            </div>

          </div>
        </div>
    </div>
{%endblock%}