{%extends "base.html"%}

{%block title%}
    Товары
{%endblock%}

{%block body%}
    <div class="container" style="border: 1px dashed red; background: #e3e3e3;">
        <h1>Все товары</h1>

        <div class="card-deck d-flex justify-content-around" style="margin-top: 20px;flex-wrap:wrap;">
            {% for el in cards_posts %}
                <div class="card" style="width:calc( ( 100% - 400px ) / 3 ); margin:0 0 20px;">
                  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                  <div class="card-body">
                    <a href="/cards/{{el.id}}" style="text-decoration: none; color: #000; font-size: 20px;" onmouseover="this.style.color='#00f';" onmouseout="this.style.color='#000';">{{el.title}}</a>
                    <p class="card-text">{{el.description}}</p>
                    <p class="card-text"><strong>Цена:</strong> {{el.price}}₽</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Дата публикации: {{el.time.date()}}</small><br>
                    <small class="text-muted">Время публикации: {{el.time.time()}}</small>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}